.idea/
course3/image
course8/models
course9/models
course10/models
course10/log
course10/random_log
course11/images
course11/models
course12/infer_model
course12/datasets
course13/models
course14/models
course14/images